.market_filed{
    width: 95vw;
    height: 95vh;
    background-color: rgb(194, 194, 194);
    font-size: 15px;
}

.market_caption{
    width: fit-content;
}

.market_search_elements{
    width: 95%;
    margin: 10px auto;
}

.market_search_content{
    position: relative;
    height: fit-content;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0.5px;

}.market_search_content > .market_caption{
    width: 100%;
    height: fit-content;
    text-align: left;
    text-indent: 10px;

}.market_search_content > input, select{
    width: 100%;
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
}

.market_search_button{
    width: 80%;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    height: fit-content;
    font-size: 20px;
    margin: 20px auto;
    box-shadow: 0 0px 5px 0.5px;
    white-space: nowrap;
}

.market_search_model_number_mask{
    position: absolute;
    font-weight: bold;
    color: white;
    background-color: #000000d4;
    border: solid 2px #1f1f1f;
    border-radius: 5px;
    width: 99.5%;
    height: 95%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
}

.market_brand_clear_button{
    position: absolute;
    right: 2px;
    top: 2px;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 0px 10px;
}

.search_content{
    height: 90%;
    width: 98%;
    background-color: #ffffff;
    margin: auto;
    border: 1px solid #484848;
    position: relative;
}

.market_small_scale_container,
.market_large_scale_container {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.market_small_scale_line {
    position: absolute;
    width: 100%;
    border-top: 1px dashed #ccc;
    height: 1px;
}

.market_large_scale_line {
    position: absolute;
    width: 100%;
    border-top: 2px dashed #444;
    height: 1px;
}.market_large_scale_plice_label{
    background-color: black;
    color: white;
    width: fit-content;
    height: fit-content;
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    left: 0;
    padding: 0px 5px;
    border-radius: 0px 10px 10px 0px;
}

.market_result_graphs{
    width: 20px;

}

@media screen and (min-width:801px){
    .market_search_content{
        width: 100%;
        margin: 0 5px;
    }
}

@media screen and (max-width:800px){
    .market_search_content{
        margin: 5px 0;
    }

}