#info{
    position: fixed;
    background-color:rgb(176, 167, 255);
    border: 1px solid #7e7e7e;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display:none;
}

.info_filed{
    width: 50vw;
}

.info_title{
    height: fit-content;
    background-color: rgb(40, 40, 40);
    color:white;
    text-align: center;
    margin-bottom: 10px;
}

.info_contents_group{
    height: fit-content;
    margin: auto;
    width: 95%;
}

.info_button_group{
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
}

.info_buttons{
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 10px 0;
}

.info_msg{
    width: 70%;
    margin: 10px auto;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    font-size: clamp(12px, 1.8vw, 15px);
    white-space: nowrap

}.info_msg div{
    width: fit-content;
    margin: auto;
}

.info_title{
    font-size: clamp(25px, 1.8vw, 30px);
}

@media screen and (min-width:801px){
}

@media screen and (max-width:800px){
}