.page_market_filed{
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    margin: auto;
    font-size: 15px;
}

@media screen and (min-width:801px){
    .market_search_content{
        width: 100%;
        margin: 0 5px;
    }
}

@media screen and (max-width:800px){
    .market_search_content{
        margin: 5px 0;
    }

}