.position_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.position_bottom{
    display: flex;
    justify-content: center;
    align-items: end;
}

.background_default{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.search_button{
    background-color:#3f4953;
    color: white;
    border-radius: 4px;
    height: 44px;
    width: 120px;
    font-size: 18px;

}
