.position_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.position_bottom{
    display: flex;
    justify-content: center;
    align-items: end;
}

.background_default{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}